/**
 * Button
 */

.c-button--primary {
	text-transform: uppercase;
	font-weight: bold;
}

.c-button--fixed {
	position: fixed;
	top: var(--spacing-unit-tiny);
	right: var(--spacing-unit-tiny);
}

.c-button--fixed:focus,
.c-button--fixed:active,
.c-button--fixed:hover {
	color: #fff;
}

.c-button--cutter {
	background-color: #000;
	border: solid 1px #fff;
	color: #fff;
}

.c-button--cutter:focus,
.c-button--cutter:active,
.c-button--cutter:hover {
	background-color: #fff;
	color: #000;
}

.c-button--small {
	font-size: .8rem;
	padding: var(--spacing-unit-tiny) var(--spacing-unit-small);
}



