/**
 * Card
 */

.c-card--example {

}

.c-card--example .c-card__header {
	border: solid 1px #ccc;
	border-bottom: 0;
	padding: var(--spacing-unit-small);
}

.c-card--example .c-card__content {
	background-color: black;
	padding: var(--spacing-unit-small);
}
