/**
 * Elements
 */

code {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 90%;
	background-color: #fff2cc;
	padding: 3px 4px;
	color: #715601;
}

pre {
	margin-bottom: 0;
}

a:hover,
a:focus {
	text-decoration: underline;
}