/**
 * Type
 */

/* Temp solution */

.u-text-color-light {
	color: #fff !important;
}

.u-text-color-dark {
	color: #000 !important;
}

.u-text-color-middle {
	color: #ccc;
}

.u-text-emphasize {
	font-size: 1.5rem !important;
}