<!DOCTYPE html>
<html lang="en" ng-app="panda">

<head>
	<meta charset="utf-8">

	<title>Test</title>

	<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<style type="text/css">
		<%= styles %>
	</style>
</head>

<body>

<div class="u-flex u-flex-wrap u-flex-stretch@medium" style="height: 100vh;">

	<div class="c-box c-box--dark c-box--scroll u-column-12 u-padding-top u-padding-top-remove@medium u-column-2@medium u-flex-last u-flex-first@medium u-border-top">

		<div class="u-flex u-flex-wrap">
			<nav class="c-nav c-nav--group u-column-6 u-column-12@medium">
				<span class="c-nav__title">Base</span>
				<a class="c-nav__link" href="#" title="">Resets</a>
				<a class="c-nav__link" href="#" title="">Elements</a>
			</nav>

			<nav class="c-nav c-nav--group u-column-6 u-column-12@medium">
				<span class="c-nav__title">Components</span>
				<a class="c-nav__link" href="#" title="">Box</a>
				<a class="c-nav__link" href="#" title="">Buttons</a>
				<a class="c-nav__link" href="#" title="">Buttons Groups</a>
			</nav>

			<nav class="c-nav c-nav--group u-column-6 u-column-12@medium">
				<span class="c-nav__title">Utilities</span>
				<a class="c-nav__link" href="#" title="">Flex</a>
				<a class="c-nav__link" href="#" title="">Type</a>
				<a class="c-nav__link" href="#" title="">Display</a>
			</nav>


		</div>

	</div>

	<div class="u-column-12 u-column-9@medium">

		<div class="u-flex u-flex-horizontal-center@medium">
			<div class="u-column-12 u-column-6@medium u-column-9@large">

				<div class="c-box u-padding u-padding-top-large">
					<h1 class="u-margin-remove">Flex</h1>
					<a class="" href="#">utilities/flex</a>
				</div>

				<div class="c-box u-padding">
					<nav class="c-nav c-nav--breadcrumbs u-margin-bottom-large">
						<a class="c-nav__link" href="#">Home</a><a class="c-nav__link" href="#">Docs</a><span class="c-nav__link">Flex</span>
					</nav>

					<%= content %>

				</div>

			</div>
		</div>

	</div>
</div>

</body>

</html>
